<h1>Stores 25 miles of <%= @zip %></h1>

<% @stores.each do |store| %>
<h2><%= @count  %> Total Stores</h2>
  <ul>
    Long Name: <%= store[:name] %>
    <li> City: <%= store[:city] %></li>
    <li>Phone: <%= store[:phone] %></li>
    <li>Distance: <%= store[:distance] %></li>
    <li>Store Type: <%= store[:type] %></li>
    <li>Store Id: <%= store[:id] %></li>
  </ul>
<% end %>
